[color]
	diff = auto
	status = auto
[user]
	name = Ton van den Heuvel
	email = git@tonvandenheuvel.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[alias]
	lg = log --graph --decorate --all
	lol = log --graph --decorate --all --pretty=oneline --abbrev-commit
	lgb = log --graph --abbrev-commit --decorate --first-parent
	unstage = reset HEAD
	forget = !cd ${GIT_PREFIX:-.} && git reset HEAD -q $* && git checkout $*
	unmerged = diff --name-only --diff-filter=U
	st = status --column
	out = log @{u}..
	ds = diff --staged
	co = checkout
[push]
	default = simple
[status]
	relativePaths = true
[color "status"]
	untracked = cyan
	changed = yellow
	deleted = red
[merge]
	renamelimit = 10000
	conflictstyle = diff3
[advice]
	statusHints = false
[rebase]
	autostash = true
