[color]
    diff = auto
    status = auto
[user]
    name = Ton van den Heuvel
    email = tonvandenheuvel@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore
[alias]
    lg = log --graph --decorate --all
    unstage = reset HEAD
    st = status
    out = log @{u}..
[push]
    default = simple
[status]
    relativePaths = false
[color "status"]
    untracked = cyan
    changed = yellow
