[color]
    diff = auto
[user]
    name = Ton van den Heuvel
    email = tonvandenheuvel@gmail.com
[core]
    editor = vim
[alias]
    lg = log --graph --decorate --all
    unstage = reset HEAD
[push]
    # In case 'git push' is used without arguments, only push the current branch to the remote branch 'git pull' would
    # pull from.
    default = tracking
[status]
    relativePaths = false
