[color]
	diff = auto
	status = auto
[user]
	name = Ton van den Heuvel
	email = tonvandenheuvel@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	lg = log --graph --decorate --all
	lol = log --graph --decorate --all --pretty=oneline --abbrev-commit
	unstage = reset HEAD
	st = status --column
	out = log @{u}..
	ds = diff --staged
	co = checkout
[push]
	default = simple
[status]
	relativePaths = true
[color "status"]
	untracked = cyan
	changed = yellow
	removed = red
[merge]
	renamelimit = 10000
[advice]
	statusHints = false
[rebase]
	autostash = true
