* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Noto;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.6);
    border-bottom: 2px solid rgba(100, 114, 125, 0.6);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    margin: 0px;
    padding: 0px 8px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
    font-size: 20px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 2px solid #ffffff;
}

#clock,
#battery,
#temperature,
#bluetooth,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    border-bottom: 2px solid #64727D;
}

#battery {
    /* background-color: #ffffff; */
}

#battery.charging, #battery.plugged {
    border-bottom: 2px solid #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#backlight {
    border-bottom: 2px solid #90b1b1;
}

#bluetooth {
    border-bottom: 2px solid #2980b9;
}

#bluetooth.off {
    color: #888888;
}

#network {
    border-bottom: 2px solid #b98029;
}

#network.disconnected {
    border-bottom: 2px solid #3c3cf5;
}

#pulseaudio {
    border-bottom: 2px solid #f1c40f;
}

#tray {
    border-bottom: 2px solid #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    border-bottom: 2px solid #9d2496;
}

#idle_inhibitor.activated {
    border-bottom: 2px solid #9d2496;
    background-color: #9d6496;
}

#mpd {
    border-bottom: 2px solid #66cc99;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#temperature {
    border-bottom: 2px solid #9d3436;
}
